
@{
    ViewBag.Title = "Stack";
}

<h2>Stack</h2>

<ol>
    <li><a href="@Url.Action("AddOne", "Stack")">Add one item to Stack</a></li>
    <li><a href="@Url.Action("AddHugeList", "Stack")">Add Huge List of Items to Stack</a></li>
    <li><a href="@Url.Action("DisplayStack", "Stack")">Display Stack</a></li>
    <li><a href="@Url.Action("DeleteFromStack", "Stack")">Delete from Stack</a></li>
    <li><a href="@Url.Action("ClearStack", "Stack")">Clear Stack</a></li>
    <li><a href="@Url.Action("SearchStack", "Stack")">Search Stack</a></li>
    <li><a href="@Url.Action("Index", "Home")">Return to Main Menu</a></li>
</ol>

<div class="searchResult">
    <span class="stopwatch">@Html.Raw(ViewBag.Stopwatch)</span>
    <span class="result">@Html.Raw(ViewBag.searchResult)</span>
</div>

<ul>
    @Html.Raw(ViewBag.Stack)
</ul>

