
@{
    ViewBag.Title = "Index";
}

<center><h2>Dictionary</h2></center>

<div class="row">
    <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked nav-menu-background">
            <li><a href="@Url.Action("AddOne", "Dictionary")">Add one item to Dictionary</a></li>
            <li><a href="@Url.Action("AddHugeList", "Dictionary")">Add huge list of items to Dictionary</a></li>
            <li><a href="@Url.Action("DisplayDictionary", "Dictionary")">Display Dictionary</a></li>
            <li><a href="@Url.Action("DeleteFromDictionary", "Dictionary")">Delete from Dictionary</a></li>
            <li><a href="@Url.Action("ClearDictionary", "Dictionary")">Clear Dictionary</a></li>
            <li><a href="@Url.Action("SearchDictionary", "Dictionary")">Search Dictionary</a></li>
            <li><a href="@Url.Action("Index", "Home")">Return to Main Menu</a></li>
        </ul>
    </div>

    <div class="col-md-8">

        <ul class="list-group">
            @Html.Raw(ViewBag.Dictionary)
        </ul>

        <div class="searchResult">
            <span class="stopwatch">@Html.Raw(ViewBag.Stopwatch)</span>
            </br>
            <span class="result">@Html.Raw(ViewBag.searchResult)</span>
        </div>

    </div>
</div>