
@{
    ViewBag.Title = "Queue";
}

<center><h2>Queue</h2></center>

<div class="row">
    <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked nav-menu-background">
            <li><a href="@Url.Action("AddOne", "Queue")">Add one item to Queue</a></li>
            <li><a href="@Url.Action("AddHugeList", "Queue")">Add huge list of items to Queue</a></li>
            <li><a href="@Url.Action("Display", "Queue")">Display Queue</a></li>
            <li><a href="@Url.Action("Delete", "Queue")">Delete from Queue</a></li>
            <li><a href="@Url.Action("Clear", "Queue")">Clear Queue</a></li>
            <li><a href="@Url.Action("Search", "Queue")">Search Queue</a></li>
            <li><a href="@Url.Action("Index", "Home")">Return to Main Menu</a></li>
        </ul>
    </div>

    <div class="searchResult">
        <span class="stopwatch">@ViewBag.message</span>
        </br>
        <span class="result">@ViewBag.StopWatch</span>
    </div>

</div>



